/* BODY SPECIFICATIONS */
body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px, 500px;
  font-family: 'Lato', sans-serif;
  background-color: #F3E0B3;
  transition: all 2s ease-out;
}

body.white{
  background-color: #Ffffff;
}

body.black{
  background-color: #000000;
}

h1{
  font-size: 40px;
  font-weight: 100;
}

h2{
  font-size: 24px;
  font-weight: 700;
}

p{
  font-size: 14px;
}
/* BODY SPECIFICATIONS END */

/* FLEX SPECIFICATIONS */

.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-right{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

/* FLEX SPECIFICATIONS END */

/* HEADER SPECIFICATIONS */
#header{
  grid-column: 1/3;
  grid-row: 1/2;
  height: 600px;
}

.incan{
  font-family: 'Kumar One Outline', cursive;
  font-size: 56px;
}

.header{
  transform: translateY(0px);
  opacity:1;
  transition: all 1s ease-out;
}

.header.fade-out{
  transform: translateY(-30px);
  opacity:0;
}

/* HEADER SPECIFICATIONS END */

/* MAP SPECIFICATIONS */
#map-header{
  grid-column: 1/3;
  grid-row: 2/3;
}

.heading-2{
  opacity:0;
  transform: translateY(10px);
  transition: all 1s ease-out;
}

.heading-2.fade-in{
  transform: translateY(0px);
  opacity:1;
}

.map-info{
  opacity:0;
  transform: translateX(30px);
  transition: all 1s ease-out;
}

.map-info.fade-in{
  transform: translateY(0px);
  opacity:1;
}

#big-map{
  grid-column: 1/2;
  grid-row: 3/4;
  height:600px;
  width: 300px;
  margin: 32px;
}

#map-info{
  grid-column: 2/3;
  grid-row: 3/4;
}

/* MAP SPECIFICATIONS END */

/* ART SPECIFICATIONS */

#art-header{
  grid-column: 1/3;
  grid-row: 4/5;
}

#art-info{
  grid-column: 1/3;
  grid-row: 5/6;
  height: 500px;
  max-width: 500px;
}

#player{
  grid-column: 1/3;
  grid-row: 6/7;
  height: 500px;
}

/* ART SPECIFICATIONS END */

/* MET SPECIFICATIONS */

#met-intro{
  grid-column: 1/3;
  grid-row: 7/8;
}

#met{
  grid-column: 1/3;
  grid-row: 8/9;
  height:500px;
}

.intro{
  opacity:0;
  transform: translateX(50px);
  transition: all .5s ease-out;
}

.intro.fade-in{
  transform: translateX(0px);
  opacity:1;
}

button {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 16px;
  background-color: #fff;
  height:48px;
  border-color: #FF6010;
  padding: 1px 16px;
}

button:clicked{
  background-color: #FF6010;
  color: #fff;
}

#textiles-button{
  border-radius: 4px 0px 0px 4px;
}

#gold-button{
  border-radius: 0px;
}

#ceramics-button{
  border-radius: 0px 4px 4px 0px;
}

.object{
  margin: 16px;
  padding: 16px;
  border: 1px solid #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 8px #A4998E;
  height: 450px;
  width:300px;
}

img {
  max-width:300px;
  max-height:300px;
}

/* MET SPECIFICATIONS END */
