body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px, 500px;
  font-family: 'Noto Sans SC', sans-serif;
}

h1{
  grid-column: 1/3;
  grid-row: 1/2;
  font-size: 40px;
}

p{
  font-size: 12px;
}

#map-intro{
  grid-column: 1/3;
  grid-row: 2/3;
  height:500px;
}

#big-map{
  grid-column: 1/2;
  grid-row: 3/4;
  height:600px;
  width: 300px;
  margin: 32px;
}

#player{
  grid-column: 2/3;
  grid-row: 3/4;
}

#pano-intro{
  grid-column: 1/3;
  grid-row: 4/5;
}

#pano{
  grid-column: 1/2;
  grid-row: 5/6;
  height:500px;
}

#pano-info{
  grid-column: 2/3;
  grid-row: 5/6;
  height:500px;
}

#met-intro{
  grid-column: 1/3;
  grid-row: 6/7;
}

#met{
  grid-column: 1/3;
  grid-row: 7/8;
  height:500px;
}

.intro{
  opacity:0;
  transform: translateX(50px);
  transition: all .5s ease-out;
}

.intro.fade-in{
  transform: translateX(0px);
  opacity:1;
}

button {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 16px;
  background-color: #fff;
  height:48px;
  border-color: #FF6010;
  padding: 1px 16px;
}

button:clicked{
  background-color: #FF6010;
  color: #fff;
}

#textiles-button{
  border-radius: 4px 0px 0px 4px;
}

#gold-button{
  border-radius: 0px;
}

#ceramics-button{
  border-radius: 0px 4px 4px 0px;
}

.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.object{
  margin: 16px;
  padding: 16px;
  border: 1px solid #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 8px #A4998E;
  height: 450px;
  width:300px;
}

img {
  max-width:300px;
  max-height:300px;
}
